---
layout: default
title: Wall Lab at Stanford University
body_class: frontpage
published: true
---
<div id="top-pane" class="hide-on-mobile">

    <div class="row">
        <div id="mission">
            <div id="lab-name" class="fadeIn animated longdelay">
                <h1>
                    The Wall Lab at</br> Stanford School of Medicine
                </h1>
                <div id="mission-share">
                    <a href="https://twitter.com/TheWallLab" class="icon-twitter">follow on twitter</a>
                    <a href="http://facebook.com/TheWallLab" class="icon-facebook-squared ">follow on facebook</a>
                </div>
            </div>
        </div>
        <div id="wl" style="background: url('{{ site.url }}/assets/images/walllab-banner-fade.png') right no-repeat"></div>
    </div>
</div>

<div id="scrollanimate">
    <div class="featured mid-pane">

    <div class="featured mid-pane">

            <div class="row">

                <section class="third ">

                    <img style="border-radius: 50%; width: 100%" src="{{ site.url }}/assets/images/projects/guess-what.png" />


                </section>


                <section class="two-thirds project-description">
                    <a href="{{ site.url }}/projects/guess-what/"><h2>Guess What?</h2></a>
                    
                    <p class="landing-project-description">This educational charades game is a research study for parents of children between the ages of 3 and 12 years. Families who participate are helping researchers in the Wall Lab use machine learning and artificial intelligence to analyze behaviors expressed by children while interacting with family members via home video.</p>
                    <p class="landing-project-description">
                            Learn more at <a href="http://guesswhat.stanford.edu" target="_blank"><strong>guesswhat.stanford.edu</strong></a>
                            <br>
                            Download the app on the <a href="https://play.google.com/store/apps/details?id=walllab.guesswhat" target="_blank"><strong>Play Store</strong></a> and <a href="https://itunes.apple.com/us/app/guess-what-wall-lab/id1426891832?ls=1&mt=8" target="_blank"><strong>App Store</strong></a>
                    </p>
                </section>



            </div>

        </div>

        <div class="row">

            <section class="third ">

                <img style="border-radius: 50%; width: 100%" src="{{ site.url }}/assets/images/therapy-on-glass.png" />


            </section>


            <section class="two-thirds project-description">
                <a href="{{ site.url }}/projects/autism-therapy-on-glass/"><h2>Autism Therapy on Glass</h2></a>
                
                <p class="landing-project-description">The Wall Lab, the Winograd Lab, and Sension are building a new tool on Google Glass, an interdisciplinary effort bringing together some of the brightest minds in psychiatry, behavioral science, human-computer interaction and artificial intelligence to create an assistive tool for facial emotion recognition. The Autism Glass Project seeks to provide individuals with challenges navigating social cues with a clinically validated therapeutic device to aid in interpreting facial expressions.</p>
            </section>



        </div>

    </div>



    <div class="featured mid-pane">

        <div class="row">

            <section class="third ">
                <img style="border-radius: 50%; width: 100%" src="{{ site.url }}/assets/images/projects/gapmap.png" />
            </section>

            <section class="two-thirds project-description">
                <a href="{{ site.url }}/projects/gapmap/"><h2>GapMap</h2></a>

                <p class="landing-project-description">GapMap engages the community of families with autism to capture geographic, diagnostic, and resource usage information to yield a more complete and dynamically updated understanding of autism resource epidemiology.</p>
            </section>

        </div>

    </div>

    <div class="featured mid-pane">

        <div class="row">

            <section class="third">

                <img style="border-radius: 50%; width: 100%" src="{{ site.url }}/assets/images/projects/microbiome.png" />

            </section>

            <section class="two-thirds project-description">
                <a href="{{ site.url }}/projects/microbiome-autism/"><h2>Gut Microbiome in Autism</h2></a>
                <p class="landing-project-description">This study aims to improve our understanding of the link between gut microbiome functionality, genome variation, and ASD phenotype, and reveal the specific mechanisms by which the gut microbiome interacts with autism-related alleles to produce and modify ASD.</p>
                <p class="landing-project-description">Learn more at <a href="https://microbiome.stanford.edu" target="_blank"><strong>https://microbiome.stanford.edu</strong></a></p>

            </section>

        </div>

    </div>

    <div class="featured mid-pane">

        <div class="row">

            <section class="third">

                <img style="border-radius: 50%; width: 100%" src="{{ site.url }}/assets/images/dna.png" />

            </section>

            <section class="two-thirds project-description">
                <a href="{{ site.url }}/projects/genome_algorithms/"><h2>Genomic Algorithms for Identifying Autism</h2></a>
                <p class="landing-project-description">We explore several algorithmic approaches to determining causal variants for detecting autism. These include game theoretic approaches (Shapley values), novel applications of the maximum flow algorithm, family-based statistical studies, and machine learning approaches.</p>

            </section>

        </div>

    </div>



<!-- 
    <div id="scrollanimate">
        <div class="featured mid-pane">



            <div class="row">

                <section class="third">

                    <img src="{{ site.url }}/assets/images/icons/icon4.png" />

                </section>

                <section class="two-thirds">
                    <h2>Current Projects</h2>

                    <p>Our lab is interested in the design and application of translational bioinformatics tools to help bring whole-genomic data to the point of clinical care. Our research projects are designed to complement and potentially supplant standard molecular diagnostics currently being used to characterize a patient’s autoimmune deficiencies and/or complex behavioral disorders, with the intent to have a faster and more robust system in place for real-time genomic diagnostics. <a class="yellow" href="{{ site.url }}/research">(Find out more)</a>
                    </p>
                </section>

            </div>

        </div>

    </div> -->

    <div class="main">



        <div class="row">

            <div class="half">

                <h4 id="latest-photos" class="hide-on-mobile">Photos</h4>

                <div id="sidebar-photos" class="flexslider hide-on-mobile">
                    <ul class="slides">
                        <li>
                            <img src="{{ site.url }}/assets/images/photos/lab18.jpg" />
                        </li>
                        <li>
                            <img src="{{ site.url }}/assets/images/photos/lab22.JPG" />
                        </li>
                        <li>
                            <img src="{{ site.url }}/assets/images/photos/lab21.JPG" />
                        </li>
                        <li>
                            <img src="{{ site.url }}/assets/images/photos/lab20.jpg" />
                        </li>
                        <li>
                            <img src="{{ site.url }}/assets/images/photos/lab17.jpg" />
                        </li>
                        <li>
                            <img src="{{ site.url }}/assets/images/photos/lab10.jpeg" />
                        </li>
                        <li>
                            <img src="{{ site.url }}/assets/images/photos/lab16.jpg" />
                        </li>
                        <li>
                            <img src="{{ site.url }}/assets/images/photos/lab12.jpg" />
                        </li>
                        <li>
                            <img src="{{ site.url }}/assets/images/photos/lab13.jpg" />
                        </li>
                        <li>
                            <img src="{{ site.url }}/assets/images/photos/lab14.jpg" />
                        </li>
                        <li>
                            <img src="{{ site.url }}/assets/images/photos/lab12.jpg" />
                        </li>
                        <li>
                            <img src="{{ site.url }}/assets/images/photos/lab8.jpg" />
                        </li>
                    </ul>
                </div>


            </div>

            <div class="half">

                <h4 id="latest-blogs">Latest News
                    <small><a class="green" href="{{ site.url }}/news/">See All</a>
                    </small>
                </h4>

                <!-- slideshow blog list for tablet/desktop -->
                <div class="posts hide-on-mobile flexslider">
                    <ul class="slides">
                        {% for post in site.posts limit:4 %}
                        <li>
                            <h3><a href="{{ post.url }}">{{ post.title }}</a>
                            </h3>
                            <h4>{{ post.date | date: "%B %d, %Y" }}</h4>
                            {{ post.excerpt | strip_html | truncatewords: 50 }}
                            <a href="{{ site.url }}{{ post.url }}">Continue Reading &raquo;</a>
                        </li>
                        {% endfor %}
                    </ul>
                    <div class="post-nav"></div>
                </div>


                <!--  blog list for mobile only -->
                <div class="posts hide-on-desktop hide-on-tablet">
                    <ul id="blog-roll">
                        {% for post in site.posts limit:4 %}
                        <li>
                            <p><a class="green" href="{{ post.url }}">{{ post.title }}</a>
                                <span>{{ post.date | date_to_string }}</span>
                            </p>
                            <!--	{{ post.excerpt }} -->
                            <!--	<a href="{{ post.url }}">Continue Reading &raquo;</a>-->
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>





        </div>

        <br style="clear:both" />

    </div>
    <!--end .main-->
    <br style="clear:both" />
