<!--
<footer>
	<hr>
	<div class="row">



	<div class="quarter">
		<h3>links</h3>
		<ul class="list-unstyled">
			<li>
				<a href="http://www.stanford.edu/" target="_blank">Stanford University</a>
			</li>
			<li>
				<a href="http://pediatrics.stanford.edu/" target="_blank">Pediatrics at Stanford</a>
			</li>
			<li>
				<a href="http://systemsmedicine.stanford.edu/" target="_blank">Systems Medicine at Stanford</a>
			</li>
			<li>
				<a href="http://psychiatry.stanford.edu/" target="_blank">Psychiatry at Stanford</a>
			</li>
			< !--<li>
				<a href="http://cehg.stanford.edu/" target="_blank">CEHG at Stanford</a>
			</li> -- >

		</ul>
		</div>

		<div class="quarter">
			<h3>links</h3>
			 <ul class="list-unstyled">

				<li>
					<a href="{{ site.url }}/projects/guess-what/">Guess What?</a>
				</li>
				<li>
					<a href="{{ site.url }}/projects/autism-therapy-on-glass/">Autism Therapy on Glass</a>
				</li>
				<li>
					<a href="{{ site.url }}/projects/ihart">iHart</a>
				</li>
		
				<li>
					<a href="{{ site.url }}/projects/gapmap">GapMap</a>
				</li>
		
				<li>
					<a href="{{ site.url }}/projects/microbiome-autism">The Gut Microbiome in Autism</a>
				</li>

				<li>
					<a href="{{ site.url }}/projects/machinelearning">Machine Learning Diagnostic Classifiers</a>
				</li>

			</ul> 
		</div> 

	<div class="quarter">
		<h3>links</h3>
		<ul class="list-unstyled">

			<li>
				<a href="{{ site.url }}/projects/genotator/">Genotator</a>
			</li>
			<li>
				<a href="{{ site.url }}/projects/sysmed/">Autworks</a>
			</li>
			<li>
				<a href="{{ site.url }}/projects/bigpicture">Big Picture</a>
			</li>

			<li>
				<a href="{{ site.url }}/projects/roundup">Roundup</a>
			</li>

		</ul>
	</div>

	<div class="quarter omega">
		<h3>links</h3>
		<ul class="list-unstyled">
			<li>
				<a href="{{ site.url }}/about">About the Wall Lab</a>
			</li>
			< !--
			<li>
				<a href="{{ site.url }}/directions">Directions</a>
			</li>

			<li>
				<a href="{{ site.url }}/openings">Lab Openings</a>
			</li>
			-- >

		</ul>
	</div>

	</div>
</footer>
-->
<footer class="subfooter">
	<div class="row">
		<p> &copy; Stanford University, Stanford, California 94305   </p>
	</div>
</footer>
