@import "mixins";
@import "colors";

/* =============================================================
    TYPOGRAPHY
    Sets font styles for entire site.
 * ============================================================= */


@mixin regular-text {
    font-weight:300;
    font-size: 16px; 
    line-height: 28px; 
}    

@mixin small-text {
    font-weight:300;
    font-size: 14px; 
    line-height: 28px; 
}    

body { 
    //font-family: "Helvetica Neue", Arial, sans-serif;
    font-family: 'Open Sans', sans-serif;

    @include regular-text;    
    color: #666; 
    background: #ffffff;
}

p { 
    margin-bottom: 1.5em; 
}

footer .quarter {
   @include small-text;
   

}
footer.subfooter p{
    @include small-text;
    color:#868a8d;
    small{float:right}
}



/*  Colors  */
/*  For alternate text colors */

.text-muted { 
    color: #808080; 
}


/*  Links 
 *  Hyperlink styling */

a { 
    color: #0088cc;
    text-decoration: none;
}

a:hover { 
    color: #005580; 
    text-decoration: underline; 
}

a img { 
    border: none; 
    background: none; 
} 

/*  Prevents border/background on linked image hover.
 *  Adds slight opacity. */
a:hover img { 
    border: none; 
    background: none; 
    opacity:0.8; 
    filter:alpha(opacity=80); 
}


/*  Lists 
 *  Styling for lists */

ul, ol { 
    margin-bottom: 1.5em; 
    margin-left: 0em;
}

ul ul, ul ol, ol ol, ol ul { 
    margin-bottom: 0; 
}

ul { 
    list-style: disc; 
}

ol { 
    list-style: decimal; 
}

ul.horizontal {
    @include clearfix();
    font-size:18px;
    line-height:21px;
    //text-transform:uppercase;
    padding:10px 10px 10px 20px;

    li {
      display: inline;
      list-style-type: none;
      margin-left:20px;
      float: left;
    }

}

/*  Removes list styling.
 *  For semantic reasons, should only 
 *  be used on unordered lists. */
.list-unstyled { 
    margin-left: 0; 
    padding-left: 0;
    list-style: none; 
}


/*  Headings
 *  h1 through h6 styling
 *  Heading class lets you use one heading type for semantics
 *  but style it as another heading type. */

h1, h2, h3, h4, h5, h6 { 

    margin:0;
   
}

h1 { 
    font-size: 32px;
    line-height:45px;

}
#mission{

    h1{
        margin-top:-15px;
        letter-spacing:-1px;
        text-align:right;
        color:black;
    }
}

h2 { 
    font-size: 28px;
    line-height:33px;
}
h2#latest-blogs,
h2#latest-photos,
.social {
    margin-bottom:20px;
}
h2 small {float:right;font-size:16px;}

h3 { 
    font-size: 24px;
    line-height:29px;
}
h3#newsletter-blurb{font-size:22px;line-height:28px;margin-bottom:10px;}

h4, h5, h6 { 
    font-size: 20px;
    line-height:25px;
}

h4 { 
    text-transform: uppercase; 
}

aside { /* sidebar: recent blog posts */
    h3 { margin-top: 0.5em;}
    h4 { margin-bottom: 1em;}
}
@media (min-width: 40em) {
    h1 {
       
    }
}


/*  Lines, Quotes and Emphasis */

/*  Lines */
hr { 
    margin: 2em auto; 
    border: 0; 
    border-top: .071428571em solid #e5e5e5; 
    border-bottom: .071428571em solid #ffffff; 
}

/*  Bold */
strong { 
    font-weight: bold; 
}

/*  Italics */
em { 
    font-style: italic; 
}

/*  Subscript & Superscript */
sub, sup { 
    position: relative; 
    font-size: 85%; 
    font-weight: bold;
    line-height: 0; 
    vertical-align: baseline; 
    margin-left: .3em;
}

sup { 
    top: -0.5em; 
}

sub { 
    bottom: -0.25em; 
}

/*  Highlighting colors */
::selection { 
    color: #ffffff; 
    background: #0088cc; 
}

::-moz-selection { 
    color: #ffffff; 
    background: #0088cc; 
}

/*  Blockquotes */
blockquote { 
    border-left: .235294118em solid #e5e5e5; 
    margin-bottom:1.529411765em; 
    padding-left: 1.529411765em;
    padding-right: 1.529411765em;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, 
q:before, q:after { 
    content: ''; 
    content: none; 
}

.section-title {
    clear: both;
    padding: 12px 20px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
}
a.section-title {
    // so it can be used on <a> elements as well
    color: #666;
    display: block; 
    text-decoration: none;
    @include transition( 0.2s );
    &:hover { background: darken($goldenrod, 20%); color: white; }
}
.section-caption {
    clear: both;
    color: #fff;
    padding: 5px 20px;
    border-top: solid 1px #fff;
    text-align: center;
}


/* =============================================================
    CODE
    Styling for code and preformatted text.
 * ============================================================= */

code, pre { 
    font-family: Menlo, Monaco, "Courier New", monospace; 
    font-size: .823529412em;
    border-radius: .071428571em;
}

code { 
    color: #d14;
    background-color: #f7f7f9;
    padding: .235294118em;
}

pre { 
    display: block; 
    margin-bottom: 1.529411765em;
    line-height: 1.538461538em;
    background-color: #f5f5f5;
    padding: .823529412em;
    white-space: pre; 
    white-space: pre-wrap; 
    word-break: break-all; 
}

pre code { 
    font-size: 1em;
    padding: 0; 
    color: inherit; 
    background-color: transparent; 
    border: 0; 
}





