@import "mixins";
@import "colors";

/* =============================================================
    TYPOGRAPHY
    Sets font styles for entire site.
 * ============================================================= */


@mixin regular-text {
    //font-weight:300;
    font-size: 16px;
    line-height: 26px;
    // color: #666;

}

@mixin small-text {
    font-weight:300;
    font-size: 14px;
    line-height: 28px;
}

body {
    font-family: "Helvetica Neue", Arial, sans-serif;
    //font-family: 'Open Sans', sans-serif;
    color:#555;
    @include regular-text;

    background: #ffffff;
}

p {
    margin-bottom: 1.5em;
}

footer .quarter,footer .third {
  @include regular-text;
  font-size:14px;
}
footer .quarter:last-child{text-align:right}

footer.subfooter p{
    @include small-text;
    color:$light-grey;
    small{float:right;@include small-text}
    a:link,a:visited{color:$green}
}



/*  Colors  */
/*  For alternate text colors */

.text-muted {
    color: #808080;
}


/*  Links
 *  Hyperlink styling */

a.orange{
  color:$orange;
  &:hover{  color: lighten($orange, 20%);}
}
a.violet{
  color:$violet;
  &:hover{  color: lighten($violet, 20%);}
}
a.blue{
  color:$blue;
  &:hover{  color: lighten($blue, 20%);}
}
a.light-blue{
  color:$light-blue;
  &:hover{  color: lighten($light-blue, 20%);}
}
a.red{
  color:$red;
  &:hover{  color: lighten($red, 10%);}
}
a.green{
  color:$green;
  &:hover{  color: lighten($green, 20%);}
}
a.yellow{
  color:$yellow;
  &:hover{  color: lighten($yellow, 20%);}
}
a.magenta{
  color:$magenta;
  &:hover{  color: lighten($magenta, 20%);}
}





a img {
    border: none;
    background: none;
}

/*  Prevents border/background on linked image hover.
 *  Adds slight opacity. */
a:hover img {
    border: none;
    background: none;
    opacity:0.8;
    filter:alpha(opacity=80);
}






/*  Headings
 *  h1 through h6 styling
 *  Heading class lets you use one heading type for semantics
 *  but style it as another heading type. */


h1,h2,h3,h4,h5,h6{
    font-weight:300;
}

h1 {
    font-size: 40px;
    line-height:48px;
    small{float:right;font-size:20px;}
}
#mission{

    h1{
        //font-size:50px;
        //line-height:60px;
       // margin-top:-15px;
        letter-spacing:-1px;
      //  text-align:left;
      //  line-height:48px;
        margin-bottom:17px;
    }
}


h2 {
    font-size: 30px;
    line-height:38px;
    margin-bottom:10px;
}
.frontpage h2{text-align:left}//important, those .feature sections are text-aligned right by default
h4#latest-blogs,
h4#latest-photos,
.social {
    margin:30px 0;
}
h4 small {float:right;font-size:16px;}

h3 {
    font-size: 22px;
    line-height:29px;
    margin-bottom:10px;

}
footer h3{ color:$light-grey;font-size:13px;text-transform:uppercase}


h4{
    font-size: 16px;
    line-height:25px;
}

h4 {
   // text-transform: uppercase;
   color:#bbb;
   letter-spacing:1px;
}
h5,h6 {    font-size:14px;}
h5 {

    font-weight:600;
    a:link,a:visited{color:#555}
}

h6 {color:#8d8c8c;line-height:20px;} // date of blog post

aside { /* sidebar: recent blog posts */
    h4 {margin-bottom:1.1em}
    h5 { margin-top: 0.2em;}
    h6 { margin-bottom: 1em;}
}
@media (min-width: 40em) {
    h1 {

    }
}


.snippet{margin:20px 0 40px 0;} // blogpage stuff - this is the teaser


/*  Lines, Quotes and Emphasis */

/*  Lines */
hr {
    margin: 2em auto;
    border: 0;
    border-top: .071428571em solid #e5e5e5;
    border-bottom: .071428571em solid #ffffff;
}



/* =============================================================
    CODE
    Styling for code and preformatted text.
 * ============================================================= */

code, pre {
    font-family: Menlo, Monaco, "Courier New", monospace;
    font-size: .823529412em;
    border-radius: .071428571em;
}

code {
    color: #d14;
    background-color: #f7f7f9;
    padding: .235294118em;
}

pre {
    display: block;
    margin-bottom: 1.529411765em;
    line-height: 1.538461538em;
    background-color: #f5f5f5;
    padding: .823529412em;
    white-space: pre;
    white-space: pre-wrap;
    word-break: break-all;
}

pre code {
    font-size: 1em;
    padding: 0;
    color: inherit;
    background-color: transparent;
    border: 0;
}


/*  Lists  */

ul, ol {
    margin-bottom: 1.5em;
   // margin-left: 0em;
}

ul ul, ul ol, ol ol, ol ul {
    margin-bottom: 0;
}

ul {
    list-style: disc;
    padding-left:20px;
}

ol {
    list-style: decimal;
    padding-left:20px;
    line-height:22px;
}

ul#blog-roll{
  list-style-type:none;
  padding-left:0;
}
// BIO PAGE

.bio{
    margin-bottom:30px;

    h1,h2,h3,h4,h5,h6 {text-align:center;}

    // This puts the bio image in a circle

    .circle {
        -webkit-border-radius: 220px;
        -moz-border-radius: 220px;
        border-radius: 220px;
        margin:20px auto;
    }

    .circle img, .rounded img {
        opacity: 0;
        vertical-align: bottom;
    }

    // this is the bio text on the /page/people
    p {
        font-size:14px;
        margin:20px;
    }

    section{
        text-align:center;
        a:link,a:visited{
            background:none;
            color:#ccc;
            background:none;
            font-size:12px;
            text-align:center;
        }
    }

}
