<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <!-- Force latest available IE rendering engine and Chrome Frame (if installed) -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!-- Document Title & Description -->
    <title>{{ site.name }} | {{ page.title }}{% if page.first_name %} {{ page.first_name }} {{ page.last_name }}{% endif %}</title>
    {% if page.extra_description  %}
    <meta name="description" content="{{ page.extra_data }}">
    {% else %}
    <meta name="description" content="Dennis Wall is the principal investigator of the Wall Lab at the Stanford University School of Medicine.">
    {% endif %}
    <meta name="keywords" content="autism, machine learning, computational biology, {{ page.extra_keywords }}">
    <!-- rss feed autodiscovery link -->
    <link rel="alternate" type="application/rss+xml" title="Wall Lab News" href="{{ site.url }}/feed.xml" />
    <!-- Mobile Screen Resizing -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ site.url }}/assets/images/icons/favicon.ico">
    <link rel="icon" href="{{ site.url }}/assets/images/icons/favicon-32.png" sizes="32x32">
    <!-- For iPad with high-resolution Retina display running iOS ≥ 7: -->
    <link rel="apple-touch-icon-precomposed" href="{{ site.url }}/assets/images/icons/favicon-152.png">
    <!-- For iPad with high-resolution Retina display running iOS ≤ 6: -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.url }}/assets/images/icons/favicon-144.png">
    <!-- For iPhone with high-resolution Retina display running iOS ≥ 7: -->
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ site.url }}/assets/images/icons/favicon-120.png">
    <!-- For iPhone with high-resolution Retina display running iOS ≤ 6: -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ site.url }}/assets/images/icons/favicon-114.png">
    <!-- For first- and second-generation iPad: -->
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ site.url }}/assets/images/icons/favicon-72.png">
    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <link rel="apple-touch-icon-precomposed" href="{{ site.url }}/assets/images/icons/favicon-57.png">
    <!-- Microsoft icon -->
    <meta name="msapplication-TileColor" content="#6cc4fc"/>
    <meta name="msapplication-TileImage" content="{{ site.url }}/assets/images/icons/favicon-144.png"/>

    <link rel="stylesheet" href="{{ site.url }}/assets/css/style.css" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,300,400' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim for IE 6-8 -->
    <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% if page.extra_css %}
    <link type="text/css" rel="stylesheet" href="{{ site.url }}{{ page.extra_css }}">    
    {% endif %}
  </head>
  <body class="{% if page.body_class %} {{ page.body_class }}{% endif %}">
    <!-- Old Browser Warning -->
    <!--[if lt IE 8]>
      <section class="container">
          Did you know that your web browser is a bit old? Some of the content on this site might not work right as a result. <a href="http://whatbrowser.org">Upgrade your browser</a> for a faster, better, and safer web experience.
      </section>
    <![endif]-->

    {% include header.html %}

      {{ content }}

    {% include footer.html %}

    <script src="{{ site.url }}/assets/js/jquery.min.js"></script>
    <script src="{{ site.url }}/assets/js/jquery.flexslider-min.js"></script>
    <script src="{{ site.url }}/assets/js/jquery.countdown.min.js"></script>
    <script src="{{ site.url }}/assets/js/concealemail.js"></script>
    <script src="{{ site.url }}/assets/js/responsive-nav.min.js"></script>
    <script>(function($) {
        $(document).ready( function() {
            $('.e').emailLink();
        } );
    })(jQuery);
    </script>
    <script>
      var navigation = responsiveNav(".nav-collapse", {
        customToggle: "#toggle"
      });
    </script>
    <script src="{{ site.url }}/assets/js/main.js"></script>
    {% if page.extra_js  %}
    <script src="{{ site.url }}/assets/js/bioindex.js"></script>
    {% endif %}
    {% comment %}
    {% if page.extra_js_html %}
    {% assign extra_js = {{ page.extra_js_html }} %}
    {% include bio.html %}
    {% else %}
    {% endif %}
    {% endcomment %}
<!--    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
     (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
         })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-51525252-1', 'stanford.edu');
    ga('send', 'pageview');

var host = "wall-lab.stanford.edu";
if ((window.location.host == host) && (window.location.protocol != "http:")){
    window.location.protocol = "http";
}
if(window.location.hostname == 'walllab.github.io'){
    var endUrl = "rd.edu/", 
        splitter = "/";
    var hn = window.location.href.split(endUrl);
    window.location.replace('http://'+host+splitter+hn[hn.length-1]);
}
    </script> -->
  </body>
</html>
